version: 2.1

references:
  workspace_root: &workspace_root
    /tmp/workspace
  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

jobs:
  build_ubuntu18_installer:
    docker:
      - image: sgpearse/vapor3-ubuntu18:latest

    steps:
      - checkout

      - run:
          name: make installer
          command: |
            git checkout master
            cd /VAPOR/build
            git pull
            git checkout $CIRCLE_BRANCH
            cmake -DCMAKE_BUILD_TYPE:String=Release -DDIST_INSTALLER:string=ON ..
            make -j7
            make installer
            mkdir -p /tmp/installers
            mv *.sh /tmp/installers

      - store_artifacts:
          path: /tmp/installers

workflows:
  build:
    jobs:
      - build_ubuntu18_installer
