version: 2.1

orbs:
  win: circleci/windows@2.2.0

references:
  workspace_root: &workspace_root
    /tmp/workspace
  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

jobs:
  build_ubuntu18_installer:
    docker:
      - image: sgpearse/vapor3-ubuntu18:latest

    steps:
      - checkout

      - run:
          name: make installer
          command: |
            cd /VAPOR/build
            git checkout master
            git pull
            git reset --hard origin/master
            cmake -DCMAKE_BUILD_TYPE:String=Release -DDIST_INSTALLER:string=ON ..
            make -j7
            make installer
            for f in VAPOR3-*.sh ; do mv "$f" "${f/Linux/Ubuntu18-Weekly}" ; done
            mkdir -p /tmp/workspace/installers
            mv *.sh /tmp/workspace/installers

      - persist_to_workspace:
          root: *workspace_root
          paths: 
            - installers

  build_centos7_installer:
    docker:
      - image: sgpearse/vapor3-centos7:latest

    steps:
      - checkout

      - run:
          name: cmake3 and make
          command: |
            cd /VAPOR/build
            git checkout master
            git pull
            git reset --hard origin/master
            cmake3 -DCMAKE_BUILD_TYPE:String=Release -DDIST_INSTALLER:string=ON ..
            make
            make installer
            for f in VAPOR3-*.sh ; do mv "$f" "${f/Linux/CentOS7-Weekly}" ; done
            mkdir -p /tmp/workspace/installers
            mv *.sh /tmp/workspace/installers


      - persist_to_workspace:
          root: *workspace_root
          paths: 
            - installers

  build_osx_installer:
    macos:
      xcode: "11.1.0"
    steps:
      - run:
          name: Make VAPOR-Deps
          command: |
            sudo mkdir -p /usr/local/VAPOR-Deps
            sudo chmod -R 777 /usr/local/VAPOR-Deps
            sudo chown -R `whoami` /usr/local/VAPOR-Deps
      - checkout
      - run:
          name: Get dependencies 
          command: |
            export DEPS=/usr/local/VAPOR-Deps/2019-Aug-Darwin.tar.xz
            if [ ! -f $DEPS ]; then
                ~/project/.circleci/getOSXDeps.sh
            fi
      - run:
          name: make VAPOR
          command: |
            cp site_files/site.NCAR site.local
            mkdir build
            cd build
            git checkout master
            git reset --hard origin/master
            /usr/local/bin/cmake -DCPACK_BINARY_DRAGNDROP=ON -DCMAKE_BUILD_TYPE:String=Release -DDIST_INSTALLER:string=ON ..
            make
            make installer
            for f in VAPOR3-*.dmg ; do mv "$f" "${f/Darwin/Darwin-Weekly}" ; done
            mkdir -p /tmp/workspace/installers
            mv *.dmg /tmp/workspace/installers
          no_output_timeout: 30m
      - persist_to_workspace:
          root: *workspace_root
          paths: 
            - installers

  build_win10_installer:
    executor: win/default
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            choco install visualcpp-build-tools -version 14.0.25420.1 -y
            choco install python -y
            choco install git -y
            choco install cmake -y
            choco install nsis -y
            python -m pip install gdown
            setx /M PATH "%PATH%;C:\Program Files (x86)\MSBuild\14.0\bin" 
            msbuild -version
            pwd
            ls
            python .circleci/downloadWin3rdParty.py
      - run:
          name: Build Vapor
          command: |
            Copy-Item site_files\* -Destination .
            mkdir build
            cd build
            git checkout master
            & 'C:\\Program Files\\CMake\\bin\\cmake.exe' -S C:\Users\circleci\project -B C:\Users\circleci\project\build -DCMAKE_BUILD_TYPE:STRING=Release -G 'Visual Studio 14 2015' -A x64
            msbuild C:\Users\circleci\project\build\PACKAGE.vcxproj /p:Configuration=Release /p:Platform=x64
            mkdir -p C:\Users\circleci\project\tmp\workspace\installers
            Copy-Item C:\Users\circleci\project\build\*.exe -Destination C:\Users\circleci\project\tmp\workspace\installers\VAPOR3-3.2.0-win64-Weekly.exe
          no_output_timeout: 45m

      - persist_to_workspace:
          root: *workspace_root
          paths: 
            - installers

  release_on_github:
    macos:
      xcode: "11.1.0"
    steps:
      - *attach_workspace
      - run:
          name: list workspace
          command: |
            ls /tmp/workspace/installers
      - run:
          name: install ghr
          command: |
            brew install ghr
      - run:
          name: push assets with ghr
          command: |
            #a=$'These installers are built weekly, and may not be stable.\n\n'
            #b=$'Official releases may be found below.\n\n'
            #c="Last built on "
            #d=`date +"%m-%d-%y".`
            #message="${a}${b}${c}${d}${e}"
            #echo $message
            #ghr -b "${message}" -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -prerelease -c ${CIRCLE_SHA1} -replace Weekly /tmp/workspace/installers
            cd /tmp/workspace/installers
            time=`date +"%d_%m_%y-%H:%M"`
            ubu="VAPOR3-3.3.0-Ubuntu18-Weekly.sh"
            mv $ubu ${ubu/Weekly/$time}
            osx="VAPOR3-3.3.0-Darwin-Weekly.dmg"
            mv $osx ${osx/Weekly/$time}
            cent="VAPOR3-3.3.0-CentOS7-Weekly.sh"
            mv $cent ${cent/Weekly/$time}
            brew install ghr
            ghr -b "Installers are timestamped with the unix command date + \"%d_%m_%y-%H:%M\"" -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -prerelease -c ${CIRCLE_SHA1} -replace Weekly /tmp/workspace/installers


workflows:
  build:
    jobs:
      - build_ubuntu18_installer
      - build_centos7_installer
      - build_osx_installer
      - release_on_github:
          requires:
            - build_ubuntu18_installer
            - build_centos7_installer
            - build_osx_installer
  weekly:
    triggers:
      - schedule:
           cron: "50 15 * * 4" # Thursday @ 15:50 UTC
                # * * * * * 
                # | | | | |  
                # | | | | | 
                # | | | | +---- Day of the Week   (range: 1-7, 1 standing for Monday)
                # | | | +------ Month of the Year (range: 1-12)
                # | | +-------- Day of the Month  (range: 1-31)
                # | +---------- Hour              (range: 0-23)
                # +------------ Minute            (range: 0-59)
           filters:
             branches:
               only:
                 - weekly
    jobs:
      - build_ubuntu18_installer
      - build_centos7_installer
      - build_osx_installer
      #- build_win10_installer
      - release_on_github:
          requires:
            - build_ubuntu18_installer
            - build_centos7_installer
            - build_osx_installer
            #- build_win10_installer
